apiVersion: apps/v1

kind: Deployment

metadata:
  name: log-generator-deployment
  namespace: default

spec:
  replicas: 1
  selctor:
    matchLabels:
      app: log-generator
  template:
    metadata:
      labels:
        app: log-generator
    spec:
      containers:
        - name: log-generator
          image: alirezahme96/log-generator:latest
          ports:
            - containerPort: 5000
